body {
    background-image: url('../images/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

/*----------Hiding scrollbars on multiple browsers-----*/
body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }





#header {
    margin-top: 100px;
    background-color: rgba(66, 66, 66, .6);
    text-align: center;
    color: rgb(4, 4, 182);
    text-shadow: 2px 2px lightslategray;
}

h1 {
    font-size: 80px;
    font-family: 'Rubik', 'Roboto', sans-serif;  
}

h5{
    display: inline-block;
}

img {
    width: 205px;
    height: 115px;
}

#form-row {
    justify-content: center;
    align-content: center;
}

#find {
    display: inline-flex;
}

.form-group {
    display: inline-flex;
}

#city-input, #miles-input, #search-input {
    height: 50px;
    margin-right: 10px;
}

label {
    background-color: darkblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    text-align: center;
    text-justify: middle;
    border-radius: 5px;
}

#home-Submit {
    margin-top: 40px;
    justify-content: center;
}

#select-state {
    height: 50px;
    margin-right: 10px;
}


/* ------------MAP CSS-------*/

#map {
    position: absolute;
    top: 40;
    bottom: 0;
    width: 50%;
}

#headmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




