#header {
    text-align: center;
    background-color: royalblue;
    color: whitesmoke;
    text-shadow: 2px 2px goldenrod;
}

h5 {
    display: inline-block;
}

#instructions{
    text-align: center;
}

#eachResult{
    height: 200px;
    color: whitesmoke;
    font-size: 15px;
    padding: 15px;
}

img {
    width: 205px;
    height: 115px;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

#map {
    position: absolute;
    top: 40;
    bottom: 0;
    width: 50%;
}

#returned{
    background-color: whitesmoke;
}

#headmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}